$colorb:#45b2de;
$colorp:#FF6584;
$colory:#ECBB0D;
$colorP:#9867C5;


@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:wght@300&family=Poppins:wght@200&family=Redressed&family=Sirin+Stencil&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    text-align: center;
   // background-color:#45b2de;
}
.logo{
    margin: 20px;
    border-radius: 10px;
}
svg{
    max-height: 60vh;
    //padding-bottom: 50px;
    margin-top:-20px;
    opacity:0;
    animation: svgani 2s linear;
    animation-fill-mode: forwards;
    //background-color:#45b2de;

    //padding:300px;
}
radialGradient{
    opacity:0;
}
#big-donut{
    animation:bDonut 1s ease-out ;
    transform-origin: center;
    transform-box: fill-box;
    animation-delay: 1s;
    opacity:0;
    animation-fill-mode: forwards;
    

}

#medium2-donut{
    animation:mdonut2 1.5s linear ;
    position: relative;
    animation-delay:2s ;
    animation-fill-mode: forwards;

    
}


#medium1-donut{
    animation:mdonut1 1.5s ease-in-out ;
    position: relative;
    animation-delay:3.5s;
}
#small-donut{
    animation:mdonut3 1.5s linear ;
    position: relative;
    animation-delay:2s ;
    animation-fill-mode: forwards;

}
.coffee{
    font-size: 2em;
    //position:absolute;
    display: flex;
    justify-content:flex-end;
    margin-top:-40px;
    margin-right: 20px;
    padding-bottom: 20px;
    font-family: 'Sirin Stencil', cursive;
    gap:10px;
    animation: coffee 2s linear infinite;
}
.fa-solid{
    position: relative;
    font-size: 40px;
}

@keyframes svgani{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes bDonut{
    from{
        transform:translateX(-300px)rotateZ(-360deg);
        opacity:0;

    }
    to{
       transform:translateX(0px);
       opacity: 1;
    }
}
@keyframes mdonut3{
    from{
        transform:translateY(-40px)translateX(0);
    }
    25%{
        transform:translateY(0px)translateX(56px);
    }
    50%{
        transform:translateY(-40px)translateX(112px);
    } 
    75%{
        transform:translateY(0px)translateX(168px);
    } 
    95%{
        transform:translateY(-40px)translateX(224px);
    }
   
    to{
        transform:translateY(0px)translateX(280px);
    }

}
@keyframes mdonut1{
    from{
        transform:translateY(-40px);
    }
    25%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-30px);
    } 
    /*75%{
        transform:translateY(0px);
    } 
    95%{
        transform:translateY(-20px);
    }*/
   
    to{
        transform:translateY(0px);
    }

}
@keyframes mdonut2{
    from{
        transform:translateY(-40px)translateX(0);
    }
    25%{
        transform:translateY(0px)translateX(-56px);
    }
    50%{
        transform:translateY(-40px)translateX(-112px);
    } 
    75%{
        transform:translateY(0px)translateX(-168px);
    } 
    95%{
        transform:translateY(-40px)translateX(-224px);
    }
   
    to{
        transform:translateY(0px)translateX(-280px);
    }

}
@keyframes coffee{
    from{
        transform:rotateZ(0);
        color:$colorp;
    }
    25%{
        transform:rotateZ(0);
        color:$colory;
        
    }
    50%{
        transform:rotateZ(0);
        color:$colorb;
       } 
    75%{
        transform:rotateZ(0);
        color:$colorp;
         } 
    95%{
        transform:rotateZ(0);
        color:$colory;
         }
   
    to{
        transform:rotateZ(0);
        color:$colorb;
         }

}



section{
   background: url(bgpic.jpg);
   background-size: cover;
   // background-color:cadetblue;
    margin:20px;
    border-radius: 20px;
}
h1{
    font-size: 2em;
    padding-top: 20px;
    
}
.text-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:40px;
    gap: 40px;
    
    h2{
      padding-bottom: 20px;
    }

}
.text1{
    grid-column:1;
    grid-row:1;
    font-size: 20px;
    border:4px solid white;
    border-radius: 100px  0 100px 0;
    padding:20px;
}
.text2{
       grid-column: 2;
      grid-row:span 2;
      //padding:10px;
      font-size: 20px;
      padding-left: 30px;
      padding-top:40px;
      border:4px solid white;
    border-radius: 100px 0 100px 0;
     padding:100px 20px;
}
.text3{
    grid-column: 1;
    grid-row:2;
    font-size: 20px;
    border:4px solid white;
    border-radius: 0 100px 0 100px;
     padding:20px;
    
}
footer{
    background:url(bgpic.jpg);
    margin: 20px;
    border-radius: 20px;
    padding:40px;
    ul{
        display:flex;
        justify-content: space-evenly;
       li  {
            list-style: none;
        }
        
    }
   

}
