* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  background-color: black;
}

svg {
  margin-top: 200px;
}

#monster1 {
  -webkit-animation: monsterA 1s ease-in;
          animation: monsterA 1s ease-in;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#monster2 {
  -webkit-animation: monsterB 1s linear;
          animation: monsterB 1s linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  transform-box: fill-box;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#monster3 {
  -webkit-animation: monsterC 2s linear;
          animation: monsterC 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#small-box-lid {
  -webkit-animation: lid 2s ease-out;
          animation: lid 2s ease-out;
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes lid {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: translateY(-30px) rotateZ(30deg) translateX(38px);
            transform: translateY(-30px) rotateZ(30deg) translateX(38px);
  }
}

@keyframes lid {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: translateY(-30px) rotateZ(30deg) translateX(38px);
            transform: translateY(-30px) rotateZ(30deg) translateX(38px);
  }
}

@-webkit-keyframes monsterA {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    opacity: 1;
  }
}

@keyframes monsterA {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    opacity: 1;
  }
}

@-webkit-keyframes monsterB {
  from {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  to {
    -webkit-transform: translateX(0) rotateZ(360deg);
            transform: translateX(0) rotateZ(360deg);
  }
}

@keyframes monsterB {
  from {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  to {
    -webkit-transform: translateX(0) rotateZ(360deg);
            transform: translateX(0) rotateZ(360deg);
  }
}

@-webkit-keyframes monsterC {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1) translateY(-30px);
            transform: scale(1) translateY(-30px);
  }
  85% {
    -webkit-transform: scale(1) translateY(20px);
            transform: scale(1) translateY(20px);
  }
  to {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}

@keyframes monsterC {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1) translateY(-30px);
            transform: scale(1) translateY(-30px);
  }
  85% {
    -webkit-transform: scale(1) translateY(20px);
            transform: scale(1) translateY(20px);
  }
  to {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}
/*# sourceMappingURL=gift.css.map */