*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    text-align: center;
    animation: body 2s linear ;
    animation-fill-mode: forwards;
    
}

#front-wheel, #back-wheel{
    animation:wheel 2s linear infinite;
    transform-origin: center;
    transform-box:fill-box;


}
#women-bike{
    animation: bike 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-origin:center ;
    transform-box: fill-box;

}
#hair{
    animation: hair 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes wheel{
    from{
        transform:rotateZ(0deg);

    }
    to{
        transform:rotateZ(360deg);

    }
}


@keyframes bike{
    from{
        transform:rotateX(0deg);

    }
    to{
        transform:rotateX(13deg);

    }
}
@keyframes hair {
    from{
        transform: translateY(0) rotateY(0);

    }
    to{
        transform: translateY(10%) rotateY(20deg);
    }
}

@keyframes body{
    from{
        transform:translateX(-1000px);

    }
    to{
        transform: translateX(0);

    }
}
@keyframes cloud{
    from {

    }
    to{

    }
}